@font-face {
    font-family: poppin-semiBlod;
    src: url(fonts/Poppins-SemiBold.ttf);
}
@font-face{
    font-family: roboto-regular;
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: roboto-medium;
    src: url(fonts/Roboto-Medium.ttf);
}

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: roboto-regular;
}
a:hover{
    text-decoration: none;
}

::selection{
    background-color: #E0752F;
    color: white;
}

.btn-read-more:hover{
    background-color:rgb(255, 229, 176);
    color: #E0752F;
    border: solid;
    border-width: 1px;
    border-color: #E0752F;
    margin: -1px;
}

.btn-read-more{
    border: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #E0752F;
    color:#FFFFFF;
}

.texto1-inicio-s1 p,.texto1-inicio-s2,.texto1-inicio-s2 span,.texto1-s5 p,.texto1-s5 span {
    font-family: poppin-semiBlod;
    line-height: 1.2em;
}
nav,.texto2-inicio-s1,.texto1-inicio-s3{
    font-family:roboto-medium;
}