nav{
    color:#FFFFFF;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #E0752F;
    position: absolute;
    width: 100%;
}
.navLinks{
    display: flex;
}
header{
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a{
    color:#FFFFFF;
}


nav a:hover{
    color:#E0752F;
    transition-duration: 0.3s;
}

nav li{
    margin: 10px;
    list-style: none;
    padding: 10px;
}

.nav-elemento{
    margin-top: 20px;
    font-size: 18px;
}

nav i{
    display: none!important;
}

@media screen and (max-width: 600px){
    nav i{
        position: absolute;
        display: block!important;
        font-size: 50px!important;
        right: 0;
        top: 0;
        margin-right: 44px;
        margin-top: 16px;
        padding-bottom: 10px!important;
    }
    nav .navLinks li{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .nav.responsive .navLinks{
        transition-duration: 0.3s;
        display:block;
        margin-right: 10px;
        margin-top: 54px;
        text-align: right;
    }
    nav.responsive .navLinks li{
        display: block;
    }
    .nav.responsive i{
        font-size: 60px!important;
    }
}
