.imagen-inicio{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}
.seccion1-inicio{
    top:0;
    left:0;
    background-repeat: no-repeat;
    color:#FFFFFF;
    z-index: -1;
    padding-top: 120px;;
    padding-bottom: 240px;
}

.texto1-inicio-s1{
    width:45%;
    font-size: 48px;
    padding-top: 2em;
}

.texto2-inicio-s1{
    width:30%;
    font-size: 16px
}


