.contenido-s2{
    background-color: #FFFFFF;
    border-left: solid;
    border-color:#E0752F;
    border-left-width: 20px;
    padding-left: 220px;
    padding-right: 240px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.seccion2-inicio{
    padding-top: 100px;
    padding-bottom: 100px;
}

@media screen and (max-width: 600px){
    .contenido-s2{
        padding-left: 20px;
        padding-right: 40px;
    }
    .seccion2-inicio{
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.texto1-inicio-s2{
    color: #343434;
    font-size: 40px;
}
.texto1-inicio-s2 span{
    color: #E0752F;
}

.texto2-inicio-s2{
    padding-top: 20px;
    color: #343434;
    font-size: 16px;
}
