.seccion4-inicio #accordion{
    position: relative;
    margin-top: 130px;
    margin-left: 100px;
    width: 75%;
}

.seccion4-inicio #accordion button{
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.imagen-left-s4{
    margin-left: -180px;
    height: 700px;
    width: 100%;
    display: flexbox;
    float: right;
    
}
.contenido-s4{
    display: flex;
    width: 100%;
}